<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<h1><%= langSkills.lang %> </h1>
<div>
    <p>Descriptions:</p>
    <p>Is that a language? Or is that a pokemon?</p>
</div>
<form method="POST" action="/skills/<%= langSkills.id %>?_method=DELETE">
    <button type="submit">Delete language</button>
</form>
<a href="/skills/<%= langSkills.id %>/edit">Edit</a>
<form>
    <button type="submit" formaction="/skills">Go Back</button>
  </form>
</body>
</html>